body{

  .h1 {
    display: flex;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgb(116, 111, 111);
    justify-content: center;
    height: auto;
    width: auto;
  }
  /* bootstrap- */

  .en-proceso {
    background-position: center;
    width: 25%;
    height: 25%;
  }
}
