.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 166, 223);
    padding: 5px;
    background-image: linear-gradient(rgb(31, 156, 140), rgb(160, 34, 122));
  }