header {
  a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
  }
  h1 {
    display: flex;
    text-align: center;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(116, 111, 111);
    justify-content: center;
    height: auto;
    width: auto;
  }
  .apartado {
    color: rgb(70, 82, 213);
      text-align: center;
      padding: 15px;
      color: rgb(172, 129, 211);
      text-decoration:solid;
    }
  .clasebase-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(160, 218, 228);
    padding: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo p {
    margin: 15px 5px;
  }

  .base-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .base-ul li {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a:hover {
    background-color: rgb(45, 40, 58);
  }
}
