@import url("https://fonts.googleapis.com/css2?");
reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}
header .clasebase-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(160, 218, 228);
  padding: 10px;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo p {
  margin: 15px 5px;
}
header .base-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header .base-ul li {
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
header a:hover {
  background-color: rgb(184, 132, 204);
}

grillas {
  /* album-grillas-productos */
}
grillas .contenedor-area-grid {
  width: 100vh;
  height: 100vh;
  background-color: rgb(221, 208, 194);
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 250px 250px;
  grid-template-areas: "contenedor-area-grid contenedor-area-grid contenedor-area-grid" "cont-lateral imga img2" "cont-lateral img3 img4" "cont-lateral img5 img6";
}
grillas .espacios {
  color: rgb(52, 97, 219);
  box-sizing: border-box;
  border-bottom: 2px solid rgb(65, 61, 60);
  box-shadow: 3px 3px 3px cornsilk;
}
grillas .contenedor-area-grid {
  grid-area: contenedor-area-grid;
}
grillas .cont-lateral {
  grid-area: cont-lateral;
  font-family: "Roboto Condensed", sans-serif;
}
grillas .img1 {
  grid-area: img1;
  width: 150px;
  height: 150px;
}
grillas .img2 {
  grid-area: img2;
  width: 150px;
  height: 150px;
}
grillas .img3 {
  grid-area: img3;
  width: 150px;
  height: 150px;
}
grillas .img4 {
  grid-area: img4;
  width: 150px;
  height: 150px;
}
grillas .img5 {
  grid-area: img5;
  width: 150px;
  height: 150px;
}
grillas .img6 {
  grid-area: img6;
  width: 150px;
  height: 150px;
}
grillas .contenedor-area-grid {
  width: 100vh;
  height: 100vh;
  background-color: rgb(221, 208, 194);
  display: grid;
  grid-template-columns: 200px 350px 350px;
  grid-template-rows: 50px 250px 250px 250px;
  grid-template-areas: "contenedor-area-grid contenedor-area-grid contenedor-area-grid" "cont-lateral imga imgb" "cont-lateral imgc imgd" "cont-lateral img5 img6";
}
grillas .imga {
  grid-area: imga;
  width: 150px;
  height: 150px;
}
grillas .imgb {
  grid-area: imgb;
  width: 150px;
  height: 150px;
}
grillas .imgc {
  grid-area: imgc;
  width: 150px;
  height: 150px;
}
grillas .imgd {
  grid-area: imgd;
  width: 150px;
  height: 150px;
}
grillas .intro {
  display: flex;
  text-align: center;
  color: rgb(116, 111, 111);
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: auto;
  width: auto;
}
grillas .text-black-50 {
  text-align: center;
}
grillas .carousel-portada {
  display: flex;
  text-align: center;
}
grillas .apartado {
  text-align: center;
  color: rgb(101, 30, 167);
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
grillas .servicios {
  display: flex;
  text-align: center;
}
grillas .album-grillas {
  margin: auto;
  width: 700px;
  height: 500px;
  border: 2px solid cornflowerblue;
  display: grid;
  grid-template-columns: 330px 330px;
  grid-template-rows: 250px 250px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
grillas .album-grillas img {
  margin: 0;
  width: 300px;
  height: 200px;
}
grillas .album-grillas.grillas-img1 {
  grid-column: 1/2;
  grid-row: 1;
}

body {
  /* bootstrap- */
}
body .h1 {
  display: flex;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(116, 111, 111);
  justify-content: center;
  height: auto;
  width: auto;
}
body .en-proceso {
  background-position: center;
  width: 25%;
  height: 25%;
}

/* media-queries */
@media (min-width: 200px) and (max-width: 1140px) {
  mqueri .apartado {
    color: rgb(103, 194, 236);
    text-align: justify;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  mqueri .clasebase-header {
    flex-direction: column;
  }
  mqueri .base-ul {
    flex-direction: column;
  }
}

/* fin-media-queries */
footer .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 166, 223);
  padding: 5px;
  background-image: linear-gradient(rgb(31, 156, 140), rgb(160, 34, 122));
}

a {
  font-size: 15px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.clasebase-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(160, 218, 228);
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo p {
  margin: 15px 5px;
}

.base-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.base-ul li {
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

.album-deco {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.base-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(238, 235, 231, 0.822);
  border-radius: 10%;
  bottom: 10px;
}

.img-principal {
  display: flex;
  justify-content: right;
  width: 30px;
  height: 30px;
  align-items: center;
  margin: auto;
}

/* album-grillas-productos */
.album-grillas {
  margin: auto;
  width: 700px;
  height: 500px;
  border: 2px solid cornflowerblue;
  display: grid;
  background-color: rgb(225, 160, 214);
  grid-template-columns: 330px 330px;
  grid-template-rows: 250px 250px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}

.album-grillas img {
  margin: 0;
  width: 300px;
  height: 200px;
}

.album-grillas.grillas-img1 {
  grid-column: 1/2;
  grid-row: 1;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 166, 223);
  padding: 5px;
}

.p-1 {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  animation: infinite;
}

a {
  color: rgb(59, 123, 184);
  margin: 5px;
  padding: 5px;
  transition: linear;
}

/* area-grillas-servicios */
.contenedor-area-grid {
  width: 100vh;
  height: 100vh;
  background-color: rgb(221, 208, 194);
  display: grid;
  grid-template-columns: 200px 350px 350px;
  grid-template-rows: 50px 250px 250px 250px;
  grid-template-areas: "contenedor-area-grid contenedor-area-grid contenedor-area-grid" "cont-lateral img1 img2" "cont-lateral img3 img4" "cont-lateral img5 img6";
}

.espacios {
  color: rgb(52, 97, 219);
  box-sizing: border-box;
  border-bottom: 2px solid rgb(65, 61, 60);
  box-shadow: 3px 3px 3px cornsilk;
}

.contenedor-area-grid {
  grid-area: contenedor-area-grid;
}

.cont-lateral {
  grid-area: cont-lateral;
  font-family: "Roboto Condensed", sans-serif;
}

.img1 {
  grid-area: img1;
  width: 150px;
  height: 150px;
}

.img2 {
  grid-area: img2;
  width: 150px;
  height: 150px;
}

.img3 {
  grid-area: img3;
  width: 150px;
  height: 150px;
}

.img4 {
  grid-area: img4;
  width: 150px;
  height: 150px;
}

.img5 {
  grid-area: img5;
  width: 150px;
  height: 150px;
}

.img6 {
  grid-area: img6;
  width: 150px;
  height: 150px;
}

/* fin-area-grillas-servicios */
.intro {
  display: flex;
  text-align: center;
  color: rgb(116, 111, 111);
}

.text-black-50 {
  text-align: center;
}

.apartado {
  text-align: center;
  color: rgb(101, 30, 167);
  -webkit-text-decoration: double;
          text-decoration: double;
}

/* bootstrap- */
.en-proceso {
  width: 20px;
  height: 20px;
}

/* media-queries */
@media (min-width: 200px) and (max-width: 1140px) {
  .apartado {
    color: rgb(103, 194, 236);
    text-align: justify;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .clasebase-header {
    flex-direction: column;
  }
  .base-ul {
    flex-direction: column;
  }
}
/* fin-media-queries *//*# sourceMappingURL=style.css.map */